body {
	background: #282828;
	margin: 0;
	font-family: "Noto Sans", sans-serif;
}
#video-box {
	position: fixed;
	width: 60vh;
	top: 0px;
	border: 1px red solid;
	border-radius: 1vh;
	font-size: 0px;
	background: #282828;
	overflow: hidden;
}
video {
	width: 100%;
	height: auto;
	background: url(nosignal.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#video-options {
	opacity: 0;
	transition-duration: 0.5s;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
#video-options:hover {
	opacity: 1;
}
#bar {
	width: 100vw;
	height: 6vh;
	border: 1px #cc1444 solid;
	border-style: none none solid none;
	position: fixed;
	background: #3c3c3c;
}
button {
	height: 2vh;
	border: none;
	margin: 0.5vh;
	margin-right: 0px;
	color: #282828;
	background: #cc1444;
	border-radius: 0.5vh;
	font-size: 1.5vh;
}
button:hover {
	background: red;
}
button.right {
	float: right;
	margin-right: 0.5vh;
	margin-left: 0px;
}
#bar button {
	width: 6vh;
	height: 5vh;
	padding: 0.5vh;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 1.5vh;
}
#text-box {
	overflow-y: scroll;
	scrollbar-width: none;
	width: calc( min( 100vh / 1.41421356, 100vw - 4vh ) );
	position: fixed;
	top: 6vh;
	font-size: 2vh;
	left: calc( ( 100vw - min( 100vh / 1.41421356, 100vw - 4vh ) ) / 2 );
	padding-top: 1vh;
	padding-bottom: 1vh;
	color: red;
}
#prompt-box {
	width: calc( min( 100vh / 1.41421356, 100vw - 4vh ) - 3vh );
	min-height: 3vh;
	border-radius: 1.5vh 1.5vh 0px 0px;
	background-color: #3c3c3c;
	position: fixed;
	padding: 1.5vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	bottom: 0px;
	font-size: 0px;
	left: calc( ( 100vw - min( 100vh / 1.41421356, 100vw - 4vh ) ) / 2 );
}
#prompt {
	resize: none;
	min-height: 3vh;
	width: 100%;
	appearance: none;
	outline: none;
	border: none;
	padding: 0px;
	font-family: inherit;
	font-size: 3vh;
	background: none;
	color: red;
	scrollbar-width: none;
}
.hidden {
	display: none;
}
